<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>利用者一覧</title>
		<style>
		th{background-color:#f2f2f2; color:#666}
		td, th{text-align:center}
		</style>
	</head>
	<body>
		<div th:insert="~{common/header :: header}"></div>
		
		<h2>銀行の利用者一覧ページです。</h2>
		
		<p>*残高を編集できます。</p>
		
		<table style="border-collapse:collapse">
			<tr>
				<th>ユーザー名</th><th>口座番号</th><th>郵便番号</th><th>住所</th><th>メールアドレス</th><th>電話番号</th><th>利用可能</th>
			</tr>
			<tr th:each="item : ${accountsList}">
				<td><a th:href="@{/admin/editDeposit(id=${item.id})}"><span th:text="${item.username}"></span></a></td>
				<td><span th:text="${item.bankAccount.number}"></span></td>
				<td><span th:text="'〒' + ${#strings.substring(item.profile.zipcode,0,3)} + '-' 
						+ ${#strings.substring(item.profile.zipcode,3)}"></span></td>
				<td><span th:text="${item.profile.address} + ${item.profile.chou}"></span></td>
				<td><span th:text="${item.profile.email}"></span></td>
				<td><span th:text="${item.profile.phone}"></span></td>
				<td><span th:text="${!item.deleted ? '○' : '×'}"></span></td>
			</tr>
		</table>
			
		
		<div th:insert="~{common/toAdminHome :: toAdminHome}"></div>
		
		<div th:insert="~{common/footer :: footer}"></div>
	</body>
</html>