<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>振込・送金ページ</title>
	</head>
	<body>
		<div th:insert="~{common/header :: header}"></div>
		
		<p>振込先を入力して送金します。</p>
		
		
		<form th:action="@{/user/transferMoney/input}" th:object="${transferInfo}" method="post">
			
			<label>振込先：</label><input type="text" th:field="*{toNumber}" required><small>*４桁の口座番号を記入</small><br><p th:errors="*{toNumber}"/>
			<label>金額：<input type="number" th:field="*{amount}" min="1" required>円</label><br><p th:errors="*{amount}"/>
			<button>確認画面へ</button>
		</form>
		
		<div th:insert="~{common/toUserHome :: toUserHome}"></div>
		
		<div th:insert="~{common/footer :: footer}"></div>
	</body>
</html>