<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
</head>
<body>
	<div th:insert="~{common/header :: header}"></div>
	
	<p>ログイン画面です。</p>
	
	<p th:if="${param.relogin}">*権限外のページへアクセスしました。対応するアカウントでログインください。</p>
	
	<form th:action="@{/login}" method="post">
		<label>ユーザー名：</label><input type="text" name="username"/><br>
		<label>パスワード：</label><input type="password" name="password"/><br>
		<label>
		       <input type="checkbox" name="remember-me" />
		       ログイン状態を保持する
		</label>
		<button>ログイン</button>
	</form>
</body>
</html>